<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block name%} {%endblock%}</title>
    <script src="{% static "css/style.css" %}"></script>
</head>
<body>
    <a href="/news/">News |</a>
    <a href="/news/update/">Update</a>
    <a href="/news/tournament/">Tournament</a>
    {% block tittle %}

    {% endblock %}

    {% block content %}

    {% endblock %}
</body>
</html>